[class^="montserrat-"] {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.montserrat-thin {
  font-weight: 100;
}
.montserrat-light {
  font-weight: 300;
}
.montserrat-regular {
  font-weight: 400;
}
.montserrat-medium {
  font-weight: 500;
}
.montserrat-semibold {
  font-weight: 600;
}
.montserrat-bold {
  font-weight: 700;
}
.montserrat-black {
  font-weight: 900;
}

.btn-custom {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.btn-custom:hover {
  background-color: rgb(0, 112, 112);
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.switch-large {
  transform: scale(1.5);
  transform-origin: right center;
  cursor: pointer;
}

.d-flex::-webkit-scrollbar {
  height: 6px;
}
.d-flex::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.link-hover {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.link-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.link-hover:hover::after {
  width: 100%;
}

[data-bs-theme="dark"] .link-hover::after {
  background-color: white;
}
[data-bs-theme="light"] .link-hover::after {
  background-color: black;
}
.link-hover-b {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.link-hover-b::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.link-hover-b:hover::after {
  width: 60%;
}

[data-bs-theme="dark"] .link-hover::after {
  background-color: white;
}
[data-bs-theme="light"] .link-hover::after {
  background-color: black;
}
